[submodule "src/scratch-flash"]
	path = src/scratch-flash
	url = git@github.com:rhysmoyne/scratch-flash.git
[submodule "content/projects"]
	path = content/projects
	url = git@github.com:CreativeKids/projects.git
