{% extends "layout.html" %}
{% block title %}{{ this.name }} - {% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ '/static/js/swfobject.js'|url }}"></script>
    <script type="text/javascript">
    function JSeditorReady() {
      return true;
    }

    function JSsetPresentationMode(flag) {
      if (flag) {
        var element = document.getElementsByClassName("current show")[0];

        element.style.width = "60%";
        element.style.height = "90%";
        element.style.top = "5%";
        element.style.left = "20%";
        element.style.margin = "0";
      } else {
        var element = document.getElementsByClassName("current show")[0];
        element.style.width = "40%";
        element.style.height = "60%";
        element.style.top = "20%";
        element.style.left = "30%";
        element.style.margin = "0";
      }
    }


      function loadSWF(url) {
        var flashvars = {};
        flashvars.project = "{{ site.url }}/data/project_files/" + url;
        flashvars.autostart = "false";
        var params = {};
        params.menu = "false";
        params.wmode = "direct";
        params.bgcolor = "#FFFFFF";
        params.allowfullscreen = "true";
        params.allowscriptaccess = "always";
        var attributes = {};
        attributes.id = "flashContent" + url;

        swfobject.embedSWF("{{ site.url }}/static/swf/Scratch.swf", "flashContent" + url, "100%", "100%", "10.2.0", false, flashvars, params, attributes);
      }

      //Support function: checks to see if target
      //element is an object or embed element
      function isObject(targetID){
         var isFound = false;
         var el = document.getElementById(targetID);
         if(el && (el.nodeName === "OBJECT" || el.nodeName === "EMBED")){
            isFound = true;
         }
         return isFound;
      }

      function deleteSWF(targetID) {
        targetID = "flashContent" + targetID;
       if(isObject(targetID)){
           var el = document.getElementById(targetID);
           if(el){
              var div = document.createElement("div");
              el.parentNode.insertBefore(div, el);

              //Remove the SWF
              swfobject.removeSWF(targetID);

              //Give the new DIV the old element's ID
              div.setAttribute("id", targetID);
           }
       }
     }
    </script>


{% endblock %}
{% block body %}


<div class="container">
	<header class="clearfix">
		<p><a href="../../..">Schools</a> > <a href="../..">{{ this.parent.parent.name }}</a> > <a href="..">{{ this.parent.name}}</a> > <a href=".">{{this.name}}</a></p>

		{% set image = this.parent.attachments.images.first() %}
     		 {% if image %}
		<div id="myoutercontainer">
        	<img class="school_logo" src="{{ image|url }}" alt=""> <!--- TODO -->

		<div id="myinnercontainer" style="position:relative">
		<h1>{{ this.name }}</h1><br/><br/>
		<p style="position:absolute">by {{ this.class }} class <br/> {{ this.term }}</p>
	</div></div>		
		 {% else %}
		<div id="myoutercontainer">
			<div class="warning" style="float:right; width:150px">Please upload a school logo (use 'Add Attachment')</div>


		<div id="myinnercontainer" style="position:relative">
		<h1>{{ this.name }}</h1><br/><br/>
		<p style="position:absolute">by {{ this.class }} class <br/> {{ this.term }}</p>
	</div></div>	
      	        {% endif %}


	</header>

	<div id="grid-gallery" class="grid-gallery">

	<section class="grid-wrap">
	<ul class="grid">
		<li class="grid-sizer"></li><!-- for Masonry column width -->
		{% if this.children %}
		{% for project in this.children %}
		<li>
			<figure>
				{% set image = project.attachments.images.first() %}
      				{% if image %}
				<img src="{{ image|url }}" alt=""/>
				{% else %}
				<div style="height:180px">
				<img><div class="warning" style="height: 170px; width: 238px; display: flex; justify-content: center; align-items: center">Please upload a project thumbnail for project '{{ project.name }}' by using 'Add Attachment' in the admin interface.</div></img>
				</div>
				{% endif %}
				<figcaption>
					<h3>{{ project.name }}</h3>
					<p>by {{ project.author }} <br/>Year {{ project.year_level }}</p>
				</figcaption>
			</figure>
		</li>
		{% endfor %}
		{% else %}
		<li>

			<figure>
				<div class="info">Add a project by clicking 'Add Page' in the admin interface.</div>

			</figure>
			</a>
		</li>
		
		{% endif %}
	</ul>
	</section><!-- // grid-wrap -->
	
<section class="slideshow">
	<ul>
		{% for project in this.children %}
			{% for attachment in project.attachments %}
				{% if attachment.attachment_filename.endswith("sb2") %}
					{% set project_file = attachment %}
				{% endif %}

			{% if project_file %}
		<li id="{{ project_file|url }}">
			<figure id="fig{{ project_file|url }}">
				<div id="flashContent{{ project_file|url }}" width="100%" height="100%">
					<a href="http://www.adobe.com/go/getflash">Adobe Flash Player</a>
				</div>

				<figcaption><h3>{{ project.name }}</h3><p>by {{ project.author }} (Year {{ project.year_level }}) <a id="sb2_download" href="{{ project_file|url }}">Download .sb2</a></p></figcaption>
			</figure>
		</li>
			{% endif %}

			{% endfor %}
			{% if project_file %}
			{% else %}
		<li>
			<div class="warning" style="display: flex; justify-content: center; align-items: center">
					Please upload a Scratch project file (.sb2) for project '{{ project.name }}' using 'Add Attachment' in the admin interface.
			</div>
		</li>
			{% endif %}
		{% endfor %}

	</ul>
	<nav>
		<span class="icon nav-close"></span>
	</nav>
	</section><!-- // slideshow -->

	</div><!-- // grid-gallery -->
<p style="text-align:center"><a href="..">Return to gallery list.</a></p>

</div>


{% endblock %}

{% block footer %}
Scratch is developed by the Lifelong Kindergarten Group at the MIT Media Lab. See <a href="http://scratch.mit.edu">http://scratch.mit.edu.</a> <br/>
{% endblock %}
