{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block body %}


<div class="container">
	<header class="clearfix">

		<div id="myoutercontainer">
		{% set image = this.attachments.images.first() %}
     		 {% if image %}
        	<img class="school_logo" src="{{ image|url }}" alt=""> <!--- TODO -->
      	        {% endif %}

		<div id="myinnercontainer">
		<h1>Student Project Galleries</h1>
	</div>
</div>
	</header>

	<div id="grid-gallery" class="grid-gallery">

	<section class="grid-wrap">
	<ul class="grid">
		<li class="grid-sizer"></li><!-- for Masonry column width -->
		{% for gallery in this.children %}
		<li>
			<a href="{{ gallery|url }}">
			<figure>
				{% set image = gallery.attachments.images.first() %}
      				{% if image %}
				<img src="{{ image|url }}" alt=""/>
				{% endif %}
				<figcaption>
					<h3>{{ gallery.name }}</h3>
					<p>by FISH</p>
				</figcaption>
			</figure>
			</a>
		</li>
		{% endfor %}
	</ul>
	</section><!-- // grid-wrap -->


	</div><!-- // grid-gallery -->


</div>


{% endblock %}
