{% extends "layout.html" %}
{% block title %}Home - {% endblock %}
{% block body %}
<div class="container">
	<header class="clearfix">
	    <p><a href=".">Home</a></p>
		<h1>{{ this.name }} </h1>

	</header>

	<div id="grid-gallery" class="grid-gallery">

	<section class="grid-wrap">
	<ul class="grid">
		<li class="grid-sizer"></li><!-- for Masonry column width -->
		{% if this.children %}
		{% for page in this.children %}
				{% if page._model == "projects" %}
		<li class="grid-sizer">
			<a href="{{ page|url }}">
			<figure>
				<img src="{{ '/static/projects_icon.png'|url }}" alt=""/>
				<figcaption>
					<h3>{{ page.name }}</h3>
				</figcaption>
			</figure>
			</a>
		</li>
                {% endif %}
		{% if page._model == "galleries" %}
		<li class="grid-sizer">
			<a href="{{ page|url }}">
			<figure>
				<img src="{{ '/static/gallery_icon.png'|url }}" alt=""/>
				<figcaption>
					<h3>{{ page.name }}</h3>
				</figcaption>
			</figure>
			</a>
		</li>
                {% endif %}
		{% if page._model == "wiki" %}
		<li class="grid-sizer">
			<a href="{{ page|url }}">
			<figure>
				<img src="{{ '/static/wiki_icon.png'|url }}" alt=""/>
				<figcaption>
					<h3>{{ page.name }}</h3>
				</figcaption>
			</figure>
			</a>
		</li>
                {% endif %}

		{% endfor %}
		{% else %}
		<li class="grid-sizer">

			<figure>
				<div class="info">Create a page by clicking 'Add Page' in the admin interface.</div>
			</figure>
			</a>
		</li>
		
		{% endif %}
	</ul>
	</section><!-- // grid-wrap -->

<section class="slideshow">
<ul></ul>
</section>
	</div><!-- // grid-gallery -->

</div>
{% endblock %}
