<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}Project Gallery</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="Rhys Moyne" />

{% block scripts %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

</body>
<script src="http://scratchblocks.github.io/js/scratchblocks-v3.1-min.js"></script>
</html>
