{% extends "layout.html" %}
{% block title %}{{ this.name }} - {% endblock %}
{% block body %}
<div class="container">
	<header class="clearfix">
	    <p><a href="../..">Home</a> > <a href="..">{{ this.parent.name }}</a> > <a href=".">{{ this.name }}</a></p>
		<h1>{{ this.name }} Projects</h1><br/><br/>
	</header>
<div id="grid-gallery" class="grid-gallery">
<section class="grid-wrap">
<ul class="grid">
		<li class="grid-sizer"></li>
  {% if this.children %}
  {% for project in this.children %}
	<a href="{{ project|url }}">
	<li class="grid-sizer">
	<figure>
      {% set image = project.attachments.images.first() %}
      {% if image %}
	<div style="min-height:150px; display: flex; align-items: center"">
        <img src="{{ image|url }}" alt="" >
	</div>
      {% else %}
	<div style="height:150px">
	<img><div class="warning" style="height: 150px; width: 200px; display: flex; justify-content: center; align-items: center">Please upload a project thumbnail (use 'Add Attachment')</div></img>
	</div>
      {% endif %}
<figcaption>
      <h3>{{ project.name }}</h3>
	</figcaption>
	</figure>
	</li>
	</a>
  {% endfor %}
  {% else %}
   		<li class="grid-sizer">

			<figure>
				<div class="info">Add a project by clicking 'Add Page' in the admin interface.</div>
			</figure>
			</a>
		</li>
  {% endif %}
  </ul>
</section>

<section class="slideshow">
<ul></ul>
</section>
</div>
<p style="text-align:center"><a href="..">Return to projects.</a></p>
</div>
{% endblock %}
{% block footer %}
{% if this.name == "Scratch" %}
Scratch is developed by the Lifelong Kindergarten Group at the MIT Media Lab. See <a href="http://scratch.mit.edu">http://scratch.mit.edu.</a> <br/>
{% endif %}
{% endblock %}
