{% extends "layout.html" %}
{% block title %}{{ this.name }} - {% endblock %}
{% block scripts %}
{% endblock %}
{% block body %}
            {% set project_file = "" %}
			{% for attachment in this.attachments %}
				{% if attachment.attachment_filename.endswith("sb2") or attachment.attachment_filename.endswith("sb") %}
					{% set project_file = attachment %}
				{% endif %}
            {% if project_file %}
			<figure id="fig{{ project_file|url }}">
			{% if this.attachments.images.first() %}
								<center><img src="{{ this.attachments.images.first().thumbnail(350)|url }}" style="width: auto; padding-left: 8%; padding-right: 8%; padding-bottom: 2%" /></center>
				{% else %} 
				<div style="height:180px">
				<img><div class="warning" style="height: 170px; width: 238px; display: flex; justify-content: center; align-items: center">Please upload a project thumbnail for project '{{ this.name }}' by using 'Add Attachment' in the admin interface.</div></img>
				</div>
				{% endif %}


				<figcaption><h3>{{ this.name }}</h3><p>by {{ this.author }}<a id="sb2_download" href="{{ project_file|url }}"><!-- Button -->

    <button id="download" name="download" class="btn btn-primary">Download Project</button>
</a><br/>
				{% if this.description %}
				<br/>
				<pre style="color: ; border: 0; width: 92%">{{ this.description }}</pre> </p></figcaption>
				{% endif %}
			</figure>
		   {% set project_file = "" %}
		   {% endif %}
		   {% endfor %}

{% endblock %}
