{% extends "layout.html" %}
{% block title %}{{ this.name }} Galleries - {% endblock %}
{% block body %}


<div class="container">
	<header class="clearfix">
		<p><a href="..">Schools</a> > <a href=".">{{ this.name }}</a></p>
		<div id="myoutercontainer">
		{% set image = this.attachments.images.first() %}
     		 {% if image %}
        	<img class="school_logo" src="{{ image.thumbnail(150)|url }}" alt=""> <!--- TODO -->
		 {% else %}
			<div class="warning" style="float:right; width:150px">Please upload a school logo (use 'Add Attachment')</div>
      	        {% endif %}

		<div id="myinnercontainer" style="position: relative">
		<h1>{{ this.name }}</h1>
	</div>
</div>
	</header>

	<div id="grid-gallery" class="grid-gallery">

	<section class="grid-wrap">
	<ul class="grid">
		<li class="grid-sizer"></li><!-- for Masonry column width -->
		{% if this.children %}
		{% for page in this.children %}
		{% if page._model == "galleries" %}
		<li class="grid-sizer">
			<a href="{{ page|url }}">
			<figure>
				<img src="{{ '/static/gallery_icon.png'|url }}" alt=""/>
				<figcaption>
					<h3>{{ page.name }}</h3>
				</figcaption>
			</figure>
			</a>
		</li>
                {% endif %}
		{% if page._model == "wiki" %}
		<li class="grid-sizer">
			{% if page.url %}
			<a href="{{ page.url }}" target="_blank">
			{% else %}
			<a href="{{ page|url }}" target="_blank">
			{% endif %}
			<figure>
				<img src="{{ '/static/wiki_icon.png'|url }}" alt=""/>
				<figcaption>
					<h3>{{ page.name }}</h3>
				</figcaption>
			</figure>
			</a>
		</li>
                {% endif %}
		{% if page._model == "projects" %}
		<li class="grid-sizer">
			{% if page.url %}
			<a href="{{ page.url }}" target="_blank">
			{% else %}
			<a href="{{ page|url }}" target="_blank">
			{% endif %}
			<figure>
				<img src="{{ '/static/projects_icon.png'|url }}" alt=""/>
				<figcaption>
					<h3>{{ page.name }}</h3>
				</figcaption>
			</figure>
			</a>
		</li>
                {% endif %}
		{% endfor %}
		{% else %}
		<li class="grid-sizer">

			<figure>
				<div class="info">Create a page by clicking 'Add Page' in the admin interface.</div>
			</figure>
			</a>
		</li>
		
		{% endif %}
	</ul>
	</section><!-- // grid-wrap -->

<section class="slideshow">
<ul></ul>
</section>
	</div><!-- // grid-gallery -->

<p style="text-align:center"><a href="..">Return to school list.</a></p>

</div>


{% endblock %}
